.Border-1{
    width: 200px;
    height: 200px;
    border: 1px solid green;
    border-radius: 20px;
}
.Border-2{
    width: 200px;
    height: 200px;
    background-color: #00da00;
    border-radius: 20px;
}
.Border-3{
    width: 200px;
    height: 200px;
    border: 1px solid green;
    border-radius: 100px;
}